{% extends "base.html" %}

{% block content %}
<table>
    {% for teacher in teacher_table %}
        <tr>
        {% for item in teacher %}
            <td>{{ item }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
</table>
{% if add_teacher_form %}
<form action="" method="post" novalidate>
    {{ add_teacher_form.hidden_tag() }}
    {{ add_teacher_form.f_name }}
    {{ add_teacher_form.s_name }}
    {{ add_teacher_form.initials }}
    {{ add_teacher_form.email }}
    {{ add_teacher_form.title }}
    {{ add_teacher_form.submit_add }}
{% endif %}
</form>
{% if edit_teacher_form %}
<form action="" method="post" novalidate>
    {{ edit_teacher_form.hidden_tag() }}
    {{ edit_teacher_form.f_name }}
    {{ edit_teacher_form.s_name }}
    {{ edit_teacher_form.initials }}
    {{ edit_teacher_form.email }}
    {{ edit_teacher_form.title }}
    {{ edit_teacher_form.submit_edit }}
</form>
{% endif %}
{% if find_edit_id_form %}
<form action="" method="post" novalidate>
    {{ find_edit_id_form.hidden_tag() }}
    {{ find_edit_id_form.s_name }}
    {{ find_edit_id_form.submit_edit_id }}
</form>
{% endif %}
{% endblock %}